<p>counter works!</p>

<h1>Current Counter:{{ count | async }}</h1>

<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>
<button (click)="reset()">Reset</button>
