<div class="container py-3 px-3 mt-5">
<h1>Dashboard</h1>
<nav class="navbar col-lg-3 ">
    Search:<input class="form-control" type="text" name="firstName" [(ngModel)]="firstName" (ngModelChange)="search()">
</nav>

<table class="table table-bordered bg-light text-center col-lg-3">
    <thead>
        <tr>
            <th (click)="sort('id')">User id&nbsp;<i class="bi bi-sort-up"></i></th>
            <th (click)="sort('firstName')">First Name&nbsp;<i class="bi bi-sort-up"></i></th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | orderBy:key:reverse |paginate:{itemsPerPage:5,currentPage:p};" >
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.salary}}</td>
        </tr>
    </tbody>
    <pagination-controls (pageChange) ="p=$event"></pagination-controls>
</table>
</div>